<svg
    id="b"
    data-name="Layer 2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 457 548"
>
    <defs>
        <style>
            .char-green-d {
                fill: #fff;
            }

            .char-green-e {
                fill: #83e64a;
            }

            .char-green-f {
                fill: #2d2d2d;
            }

            .char-green-g {
                fill: none;
                stroke: #83e64a;
                stroke-miterlimit: 10;
                stroke-width: 40px;
            }
        </style>
    </defs>
    <g id="c" data-name="Layer 4">
        <line class="char-green-g" x1="112" y1="361" x2="112" y2="522" />
        <line class="char-green-g" x1="352" y1="361" x2="352" y2="522" />
        <g class="char-idle">
            <path
                class="char-green-e char-body"
                d="M457,457H0V228.5C0,102.3,102.3,0,228.5,0h0c126.2,0,228.5,102.3,228.5,228.5v228.5Z"
            />
            <g class="char-eyes">
                <circle class="char-green-d" cx="148.5" cy="167" r="91" />
                <circle class="char-green-d" cx="319.5" cy="166.5" r="91.5" />
                <circle class="char-green-f" cx="320" cy="166" r="49" />
                <circle class="char-green-f" cx="148" cy="166.5" r="48.73" />
            </g>
        </g>
        <path
            class="char-green-f"
            d="M329,488h72.2c21.96,0,39.8,17.83,39.8,39.8v20.2h-112v-60h0Z"
        />
        <path
            class="char-green-f"
            d="M24,488h112v20.2c0,21.96-17.83,39.8-39.8,39.8H24v-60h0Z"
            transform="translate(160 1036) rotate(-180)"
        />
    </g>
</svg>
