<div class="adjust-players-wrap" onclick="closeAdjustPlayersModal()">
    <div>
        <div class="subheading">How many players?</div>
        <div class="adjust-players-container">
            <button
                onclick="setActivePlayers(1)"
                class="adjust-players-value variant-2 bg-blue"
                id="players-blue"
            >
                <div class="btn-content">
                    <div class="">
                        <div class="btn-blue-icon"></div>
                    </div>
                    <div>1</div>
                </div>
            </button>
            <button
                onclick="setActivePlayers(2)"
                class="adjust-players-value variant-2 bg-red"
                id="players-red"
            >
                <div class="btn-content">
                    <div class="icon-container">
                        <div class="btn-blue-icon"></div>
                        <div class="btn-red-icon"></div>
                    </div>
                    <div>2</div>
                </div>
            </button>
            <button
                onclick="setActivePlayers(3)"
                class="adjust-players-value variant-2 bg-yellow"
                id="players-yellow"
            >
                <div class="btn-content">
                    <div class="icon-container">
                        <div class="btn-blue-icon"></div>
                        <div class="btn-red-icon"></div>
                        <div class="btn-yellow-icon"></div>
                    </div>
                    <div>3</div>
                </div>
            </button>
            <button
                onclick="setActivePlayers(4)"
                class="adjust-players-value variant-2 bg-green"
                id="players-green"
            >
                <div class="btn-content">
                    <div class="icon-container">
                        <div class="btn-blue-icon"></div>
                        <div class="btn-red-icon"></div>
                        <div class="btn-yellow-icon"></div>
                        <div class="btn-green-icon"></div>
                    </div>
                    <div>4</div>
                </div>
            </button>
        </div>
    </div>
</div>
