<section id="characterGroup" class="group">
    <div class="character player-1">
        <section class="effects-container">
            <div id="effects-blue" class="effects"></div>
            <div id="modifyPoints-blue" class="modifyPoints display-none"></div>
            <div id="modifyOdds-blue" class="modifyOdds display-none"></div>
        </section>
        <div class="char-container char-blue"></div>
        <section class="score-container">
            <div class="round-score">
                <div class="round-score-value">0</div>
            </div>
            <div id="lives-blue"></div>
            <div id="points-blue" class="points">0</div>
        </section>
    </div>
    <div class="character player-2">
        <section class="effects-container">
            <div id="effects-red" class="effects"></div>
            <div id="modifyPoints-red" class="modifyPoints display-none"></div>
            <div id="modifyOdds-red" class="modifyOdds display-none"></div>
        </section>
        <div class="char-container char-red"></div>
        <section class="score-container">
            <div class="round-score">
                <div class="round-score-value">0</div>
            </div>
            <div id="lives-red"></div>
            <div id="points-red" class="points">0</div>
        </section>
    </div>
    <div class="character player-3">
        <section class="effects-container">
            <div id="effects-yellow" class="effects"></div>
            <div
                id="modifyPoints-yellow"
                class="modifyPoints display-none"
            ></div>
            <div id="modifyOdds-yellow" class="modifyOdds display-none"></div>
        </section>
        <div class="char-container char-yellow" class="effects"></div>
        <section class="score-container">
            <div class="round-score">
                <div class="round-score-value">0</div>
            </div>
            <div id="lives-yellow"></div>
            <div id="points-yellow" class="points">0</div>
        </section>
    </div>
    <div class="character player-4">
        <section class="effects-container">
            <div id="effects-green" class="effects"></div>
            <div
                id="modifyPoints-green"
                class="modifyPoints display-none"
            ></div>
            <div id="modifyOdds-green" class="modifyOdds display-none"></div>
        </section>
        <div class="char-container char-green"></div>
        <section class="score-container">
            <div class="round-score">
                <div class="round-score-value">0</div>
            </div>
            <div id="lives-green"></div>
            <div id="points-green" class="points">0</div>
        </section>
    </div>
</section>
