<section class="doors-container">
    <div id="door-1" class="door" onclick="selectDoor(0)">
        <div class="reward">
            <div class="reward-icons">
                <div class="icon-cash"></div>
                <div class="effect-container"></div>
            </div>
            <div class="amount">+0</div>
            <div class="percentage">
                <div class="odds">0</div>
                <div>%</div>
            </div>
        </div>

        <div class="risk">
            <div class="icon-risk"></div>
            <div class="amount">-0</div>
            <div class="percentage">
                <div class="odds">0</div>
                <div>%</div>
            </div>
        </div>
        <div class="selected-char-container"></div>
    </div>
    <div id="door-2" class="door" onclick="selectDoor(1)">
        <div class="reward">
            <div class="reward-icons">
                <div class="icon-cash"></div>
                <div class="effect-container"></div>
            </div>
            <div class="amount">+0</div>
            <div class="percentage">
                <div class="odds">0</div>
                <div>%</div>
            </div>
        </div>

        <div class="risk">
            <div class="icon-risk"></div>
            <div class="amount">-0</div>
            <div class="percentage">
                <div class="odds">0</div>
                <div>%</div>
            </div>
        </div>
        <div class="selected-char-container"></div>
    </div>
    <div id="door-3" class="door" onclick="selectDoor(2)">
        <div class="reward">
            <div class="reward-icons">
                <div class="icon-cash"></div>
                <div class="effect-container"></div>
            </div>
            <div class="amount">+0</div>
            <div class="percentage">
                <div class="odds">0</div>
                <div>%</div>
            </div>
        </div>

        <div class="risk">
            <div class="icon-risk"></div>
            <div class="amount">-0</div>
            <div class="percentage">
                <div class="odds">0</div>
                <div>%</div>
            </div>
        </div>
        <div class="selected-char-container"></div>
    </div>
    <div id="door-4" class="door" onclick="selectDoor(3)">
        <div class="reward">
            <div class="reward-icons">
                <div class="icon-cash"></div>
                <div class="effect-container"></div>
            </div>
            <div class="amount">+0</div>
            <div class="percentage">
                <div class="odds">0</div>
                <div>%</div>
            </div>
        </div>

        <div class="risk">
            <div class="icon-risk"></div>
            <div class="amount">-0</div>
            <div class="percentage">
                <div class="odds">0</div>
                <div>%</div>
            </div>
        </div>
        <div class="selected-char-container"></div>
    </div>
    <div id="door-5" class="door" onclick="selectDoor(4)">
        <div class="reward">
            <div class="reward-icons">
                <div class="icon-cash"></div>
                <div class="effect-container"></div>
            </div>
            <div class="amount">+0</div>
            <div class="percentage">
                <div class="odds">0</div>
                <div>%</div>
            </div>
        </div>

        <div class="risk">
            <div class="icon-risk"></div>
            <div class="amount">-0</div>
            <div class="percentage">
                <div class="odds">0</div>
                <div>%</div>
            </div>
        </div>
        <div class="selected-char-container"></div>
    </div>
</section>
