<section class="round-info">
    <div class="round-info-container">
        <div class="round-info-item">
            <div class="round-info-title">Round</div>
            <div class="round-info-numbers">
                <div class="round-info-value round-current" id="round-current">
                    0
                </div>
                <div class="round-info-value round-total" id="round-count">
                    /15
                </div>
            </div>
        </div>
    </div>
</section>
