<div class="conatiner-wrap" onclick="closeRulesModal()">
    <div class="container">
        <header>
            <h1>Door Dilemma | Founders & Coders</h1>
        </header>

        <section class="overview">
            <h2 class="">Overview</h2>
            <p>
                A fast-paced, local multiplayer game where players choose doors,
                risking points or gaining rewards. Special effects add an extra
                layer of strategy and unpredictability, making each turn a
                thrilling challenge!
            </p>
        </section>

        <section class="aim">
            <h2 class="">Aim of the Game</h2>
            <ul>
                <li>
                    <strong>Objective</strong>: Earn points over 15 rounds or by
                    outlasting opponents who lose all their lives.
                </li>
                <li>
                    <strong>Unsuccessful rounds</strong>: Cost points and a
                    life.
                </li>
                <li>
                    <strong>Successful rounds</strong>: Reward points and a life
                    (maximum of 3).
                </li>
                <li>
                    <strong>Strategy</strong>: Choose the right doors, avoid the
                    wrong ones, and stack multipliers to boost your chances of
                    winning.
                </li>
                <li>
                    <strong>Powerful Effects</strong>: Use special effects to
                    gain an edge and make more strategic decisions.
                </li>
            </ul>
        </section>

        <section class="effects">
            <h2 class="">Effects</h2>
            <ul class="effects-list">
                <li>
                    <strong>Ejector</strong>: Ejects players from the selected
                    door and randomly places them elsewhere!
                </li>
                <li>
                    <strong>Greed</strong>: Subsequent players cannot select
                    your door!
                </li>
                <li><strong>Joker</strong>: Reverses the odds of your door!</li>
                <li>
                    <strong>Blame</strong>: When you lose points, randomly
                    assign someone else to lose points instead!
                </li>
                <li><strong>Bless</strong>: Gain triple points!</li>
                <li>
                    <strong>Stinky</strong>: Direct adjacent doors lose -30%
                    odds
                </li>
                <li>
                    <strong>Lone Wolf</strong>: If no other players share your
                    same door, get an additional 5x multiplier to your points!
                </li>
                <li>
                    <strong>Thief</strong>: Steals half of the points gained by
                    all other players at the selected door!
                </li>
            </ul>
        </section>
    </div>
</div>
