#doorGroup {
    display: grid;
    place-items: center;
    flex: 1;
}
@media screen and (max-width: 600px) {
    #doorGroup {
        place-items: start;
        margin-top: 1rem;
    }
}

.doors-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 0.5rem;
    justify-content: center;
    width: clamp(300px, calc(80% + 3rem), 1200px);
    margin: 0 auto;
}

.door {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: rgba(var(--col-white), 1);
    box-shadow: var(--box-shadow-sm);
    cursor: pointer;
    padding: clamp(1rem, calc(0.5rem + 1vw), 3rem);
    border-radius: 0.5rem;
    transition: all 0.1s ease-in-out;
}
.door-reward {
    background-color: rgba(var(--col-green), 0.8) !important;
}
.door-risk {
    background-color: rgba(var(--col-red), 0.8) !important;
}

.selected-char-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.selected-char-container > div svg {
    width: clamp(1.5rem, calc(1rem + 3vw), 3rem);
}

.door:hover {
    scale: 1.05;
    background-color: rgba(var(--col-grey-hover), 1);
}

.percentage {
    display: flex;
    font-weight: bold;
}

.effect,
.reward,
.risk {
    display: flex;
    gap: 0.5rem;
}

.reward:has(.icon-effect) .icon-cash {
    display: none;
}
.reward:has(.icon-effect) .amount {
    display: none;
}

/* Door Effects */
.effect-greed {
    mix-blend-mode: luminosity;
    background-color: rgba(var(--col-grey), 0.8);
    pointer-events: none;
    user-select: none;
}
.effect-ejector {
    animation: animation-ejector 0.15s ease-out;
}
@keyframes animation-ejector {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.effect-joker {
    animation: animation-joker 0.15s ease-out;
}
@keyframes animation-joker {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.effect-limited {
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
}

.effect-bless {
    background-color: rgba(255, 195, 0, 1) !important;
    box-shadow: 0px 0px 16px rgba(255, 195, 0, 0.5);
    animation: animation-up-down 0.15s ease-in-out;
}

.effect-stinky {
    background: linear-gradient(
        to top,
        rgba(var(--col-green), 1),
        rgba(var(--col-purple), 1)
    ) !important;
    box-shadow: 0px 0px 24px rgba(var(--col-green), 0.5);
    animation: animation-down-up 0.4s ease-in-out;
}
@keyframes animation-down-up {
    0%,
    100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(1rem);
    }
}

@keyframes animation-up-down {
    0%,
    100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-1rem);
    }
}
